.regular-post a {
  text-decoration: none;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
  color: #660066;
}

.regular-post a:hover {
  text-decoration: none;
  color: #990099;
}

.table-of-contents {
  float: left;
  width: 100%;
  background: #fff;
  font-size: 0.8em;
  padding: 1em 2em;
  margin: 0 0 0.5em 0.5em;
}
.table-of-contents ul {
  padding: 0;
}
.table-of-contents li {
  margin: 0 0 0.25em 0;
}
.table-of-contents a {
  color: #660066;
  text-decoration: none;
}
.table-of-contents a:hover,
.table-of-contents a:active {
  text-decoration: underline;
}

h6:target {
  animation: highlight 1s ease;
}

@keyframes highlight {
  from { background: yellow; }
  to { background: white; }
}
